
.navbar_item {
    padding: 0 2%;
    a{
      color: white;
      text-decoration: none;
      &:hover{
        color: #3a422f;
        text-decoration: underline;   
      }
    }
    &:focus{
        color: #3a422f;
        height: auto;
        width: 100%;
        border-radius: 10PX;
    }
    #selected {
      color: #3a422f;
      height: auto;
      width: 100%;
      border-radius: 10PX;
    }
}