@import "../../styles/variables";

.checkout_container{

    .comprado{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        p{
            text-align: center;
            font-family: $font-family2;
            font-size: x-large;
            width: 100%;
            span{
                font-size: x-large;
                color: $primary-color;
                font-weight: 600;
            }
        }
    }

    .prodCarrito{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid $btn-lightGreen-hoven;
        .precioProdCarrito{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        div{
            display: flex;
            justify-content: center;
            width: 7%;
            margin: 0;
            position: relative;
            .imgCarrito{
                width: 5vw;
            } 
            span#saleTag{
                position: absolute;
                font-size: small;
                bottom: 0;
                right: 0%;
                background-color: black;
                color: white;
                border-radius: 15px;
                padding: 2px;
            }
        }        
        p{
            display: flex;
            justify-content: center;
            width: 14%;
            margin: 0;
            font-size: larger;
            span#precioOriginal{
                font-size: small;
                text-decoration: line-through;
                color: $primary-color;
            }
        }
    }


    .info{
        display: flex;
        justify-content: space-between;
        border-bottom: solid 1px $primary-color;

        p{
            font-weight: 700;
            margin: 5px 0;
        }
        .total{
            color: $primary-color;
        }

    }

    .linkBack{
        display: flex;
        justify-content: end;
        text-align: center;
        margin-top: 10px;
        .link{
            text-decoration: none;
            padding: 3px 5px;
            margin-left: 20px;
            background-color: $primary-color;
            border-radius: 30px;
            color: white;
            &:hover{
                background-color: $btn-lightGreen-hoven;
            }
        }
        p{
            margin: 0;
        }
    }

    .form{

        margin-top: 50px;
        .msg{
            width: 100%;
            text-align: center;
            font-size: x-large;
            color: $primary-color;
            font-family: $font-family2;
            font-weight: 600;
        }
    }

    .buton{
        text-decoration: none;
        text-align: center;
        border: none;
        background-color: $primary-color !important;
        border-color: $primary-color;
        margin: 10px 0;
        border-radius: 30px !important;
        padding: 5px 0;
        width: 100%;
        color: white;
        &:hover{
            background-color: $btn-lightGreen-hoven !important;
        }
    }
}