.goBackLink{
    padding: 2px 1%;
    border-radius: 30px;
    border: solid 1px #8B9E70;
    text-decoration: none;
    color:#8B9E70;

    &:hover{
        background-color:#8B9E70 ;
        color: white;
    }
}

.product_Detail{
    border-radius: 30px;
    margin-top: 5vh;
    padding: 0 5%;
    height: 100%;
    section{

        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 80;
        padding: 2% 0;
        picture{
            /* offset-x | offset-y | blur-radius | spread-radius | color */
            box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
            border-radius: 30px;
            display: flex;
            justify-content: center;
            width: 40%;
            position: relative;
            img{
                border-radius: 30px;
                width: 100%;
                
            }
        }

        article{
            /* offset-x | offset-y | blur-radius | spread-radius | color */
            box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 55%;

            div{
                display: flex;
                width: 80%;
                margin: 10px 2% 5% 2%;

                &.infoSection{
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    text-align: center;
                    height: 60%;
                    font-family: "Dosis", sans-serif;
                    .productName{
                        width: 100%;
                        margin-bottom: 20px;
                        border-bottom: solid 1px #8B9E70;
                        
                        color: #8B9E70
                    }
                    .productDescription{
                        overflow-y: scroll;
                        font-size: larger;
                        width: 100%;
                        padding: 0 2%;
                        height: 70%;
                    }
                    .productCategory{
                        color: gray;
                        width: 100%;
                        margin: 0 0 3% 0;
                    }
                    div{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        text-align:right;
                        border-bottom:solid 1px #8B9E70;
                        width: 100%;
                        padding: 0 2%;
                        margin: 0;
                        p{
                            margin: 3% 0 0 0;
                        }
                        strong{
                            margin: 2% 0 0 0;
                            .oldPrice{
                                padding-left: 10px;
                                font-size: medium;
                                color: #8B9E70;
                                text-decoration: line-through;
                                
                            }
                        }
                    };
                }

                &.buttonSection{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 30%;
                    flex-direction: column;
                    font-family: "Dosis", sans-serif;
                    .handelAmountSection{
                        margin: 0;
                        display: flex;
                        align-items: center;
                        justify-content:center;
                        width: 100%;
                        button{
                            font-size: larger;
                            border-radius: 50px;
                            width: 80px;
                            height: 80px;
                            border: solid 1px #8B9E70;
                            background-color: white;
                            &:active{
                                background-color: #8B9E70;
                                color: white;
                            }
                            &:hover{
                                font-size: x-large;
                            }
                        }
                        strong{
                            width: 20px;
                            margin: 0 1%;
                            padding: 0 5%;
                        }
                    }

                    .cartButton{
                        width: 100%;
                        background-color: #8B9E70;
                        padding: 2% 0;
                        border-style: none;
                        border-radius: 30px;
                        color: white;
                        &:hover{
                            background-color: #545f45;
                        }
                    }



                }
            }

        }
        


    }
}

.saleTag{

    .badge{
        background: #000;
        font-size: medium;
        padding: 10px 24px;
        top: 0;
        position: absolute;
        &:before{
            border-width: 20px 0 0 10px;
            border-color: transparent transparent transparent #000;
            content: "";
            position: absolute;
            right: -8px;
            width: 0;
            bottom: 0;
            border-style: solid
        }
        &:after{
            border-width: 20px 8px 0 10px;
            border-color:#000 transparent transparent;
            content: "";
            position: absolute;
            right: -8px;
            width: 0;
            top: 0;
            border-style: solid
        }  
    }
}